In [6]:
from operator import itemgetter
a = [(5, 3), (1, 3), (1, 2), (2, -1), (4, 9)]
#sorted(a)
#[(1, 2), (1, 3), (2, -1), (4, 9), (5, 3)]
#sorted(a, key=itemgetter(0))
#[(1, 3), (1, 2), (2, -1), (4, 9), (5, 3)]
#sorted(a, key=itemgetter(0, 1))
#[(1, 2), (1, 3), (2, -1), (4, 9), (5, 3)]
#sorted(a, key=itemgetter(1))
#[(2, -1), (1, 2), (5, 3), (1, 3), (4, 9)]
sorted(a, key=itemgetter(1), reverse=True)
#[(4, 9), (5, 3), (1, 3), (1, 2), (2, -1)]

[(4, 9), (5, 3), (1, 3), (1, 2), (2, -1)]

In [7]:
# sorting, really a complex operations.

In [8]:
a = [(5,3),(1,2)]

In [9]:
sorted(a)

[(1, 2), (5, 3)]

In [11]:
sorted(a, key=itemgetter(1))

[(1, 2), (5, 3)]

In [16]:
a = [(5,9),(8,2)]

In [18]:
sorted(a, key=itemgetter(0))

[(5, 9), (8, 2)]

In [19]:
a = [('Raj',50),('Arya',60)]

In [20]:
sorted(a, key=itemgetter(0))

[('Arya', 60), ('Raj', 50)]

In [21]:
sorted(a, key=itemgetter(1))

[('Raj', 50), ('Arya', 60)]

In [22]:
a = [('Raj',50,'Europe'),('Arya',60,'China')]

In [25]:
sorted(a, key=itemgetter(2))

[('Arya', 60, 'China'), ('Raj', 50, 'Europe')]

In [26]:
a = [1,2,3,4,5]

In [27]:
min(a)

1

In [28]:
max(a)

5

In [29]:
sum(a)

15

In [43]:
a = '1,2,3,4,5 ' # How many elements are there ? 1

In [44]:
a

'1,2,3,4,5 '

In [45]:
len(a)

10

In [32]:
sum(a)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
lista = [1,2,3,4,5] # How many elements are there ? len(<nameofthelist>)

In [35]:
lista.insert(0,a)

In [36]:
lista

['1,2,3,4,5', 1, 2, 3, 4, 5]

In [38]:
len(lista)

6

In [48]:
lista.extend(a) # extend should be used for extending another list

In [49]:
lista

[1,
 2,
 3,
 4,
 5,
 '1',
 ',',
 '2',
 ',',
 '3',
 ',',
 '4',
 ',',
 '5',
 ' ',
 '1',
 ',',
 '2',
 ',',
 '3',
 ',',
 '4',
 ',',
 '5',
 ' ']

In [50]:
lista = [1,2,3,4,5]

In [51]:
lista.append(a)

In [52]:
lista

[1, 2, 3, 4, 5, '1,2,3,4,5 ']

In [58]:
lista[-1][-2]

'5'

In [59]:
# diff between string vs list

In [60]:
l1 = [1,2,3,4]

In [63]:
l1[0]=9 # replaced 0 with 9

In [64]:
l1

[9, 2, 3, 4]

In [67]:
a = 'Hello' # immutable

In [68]:
a[0]='P'

TypeError: 'str' object does not support item assignment

In [69]:
a.replace('H','P')

'Pello'

In [70]:
a

'Hello'

In [71]:
id(a)

4588304512

In [75]:
a = a.replace('H','P') # Made a copy of a, replaced H with P, and then assigned it to a.

In [76]:
a

'Pello'

In [77]:
id(a)

4588327632

In [78]:
a = 1

In [79]:
id(a)

4559157248

In [88]:
a = 2 # an object in memory with name as a

In [83]:
id(a)

4559157280

In [84]:
l1 = [1,2,3,4]

In [85]:
id(l1)

4588279944

In [86]:
l1[0]=9

In [87]:
id(l1)

4588279944

In [89]:
a = ["India","Japan","China"]

In [90]:
'India' in a

True

In [94]:
#list(range(10))  # one value: from 0 to value (excluded)
#[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
#list(range(3, 8))  # two values: from start to stop (excluded)
#[3, 4, 5, 6, 7]
list(range(-10, 10, 4))  # three values: step is added
#[-10, -6, -2, 2, 6]

[-10, -6, -2, 2, 6]

In [95]:
# how do you do tuple unpacking

In [106]:
list = ["Raj","Rachit"]

In [107]:
a,b = list

In [109]:
print (a)

Raj

In [110]:
list[0]

'Raj'

In [111]:
tup = ('Ravi','Rishi')

In [112]:
d,e = tup

In [113]:
print (d)

Ravi

In [99]:
from collections import namedtuple
Vision = namedtuple('Vision', ['left', 'right'])
vision = Vision(9.5, 8.8)
vision[0]

9.5

In [100]:
vision[1]

8.8

In [101]:
vision.left

9.5

In [104]:
vision.right

8.8

In [115]:
exam = namedtuple('Student1', ['Science', 'Math'])

In [119]:
result_student1 = exam(10,20)

In [120]:
result_student1.Science

10

In [121]:
# swap
a, b = 1, 2
c = a  # we need three lines and a temporary var c
a = b
b = c
a, b  # a and b have been swapped
#(2, 1)

# This is the standard method
a, b = b, a  # this is the Pythonic way to do it
#a, b
(1, 2)

(1, 2)