In [3]:
x =lambda x: x *x

In [4]:
x(2)

4

In [5]:
def is_even(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [6]:
is_even(4)

True

In [7]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.

In [8]:
lst = [1,2,3,4,5]
def is_even(lst1):
    if lst1 % 2 == 0:
        return True
    else:
        return False

In [17]:
op = filter(is_even,lst)

In [18]:
type(op)

filter

In [19]:
op

In [27]:
list = [10,20,33,44,60,80]
lst = list(filter(lambda x : (x % 2 == 0),list1))

In [29]:
list

[10, 20, 33, 44, 60, 80]

In [31]:
del(list)

In [38]:
val_list = list(range(1,20))
values = list(filter(lambda x :(x%2!=0),val_list))
values

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [35]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
val = lambda x:x*x

In [40]:
x=4

In [42]:
val

In [46]:
#anonymous functions or LAMBDAS
def square(num):
    return num*num
a=square(10)
a

100

In [47]:
y=lambda x: x*x

In [50]:
val = y(5)
val

25

In [51]:
val = lambda y:y*y
val(10)

100

In [54]:
v=lambda a:a*a

In [55]:
v(10)

100

In [56]:
add = lambda x,y:x+y
add(2,3)

5

In [59]:
max = lambda x,y: x if x>y else y
m =max(4,3)
m

4

In [60]:
def max(a,b):
    if a>b:
        return a
    else:
        return b
max(2,3)

3

In [61]:
max = lambda x,y: x if x>y else y
max(2,3)

3

In [89]:
pri = lambda x: print('Even') if x %2== 0 else print('odd')
pri(100)

Even

In [66]:
#filter
#function sequence
def is_even(num):
    if num % 2 == 0:
        return True
    else:
        return False
lst = [1,2,3,4,5,6]    
a = list(filter(is_even,lst))    
a

[2, 4, 6]

In [76]:
lis = [10,20,30,40]
def is_eve(nu):
    """Performs operation to know the number is even or odd"""
    if nu % 2 == 0:
        return True
    else:
        return False
disp = list(filter(is_eve,lis))

In [79]:
is_eve.__doc__

'Performs operation to know the number is even or odd'

In [82]:
def is_even(lst):
    for i in lst:
        if i % 2 == 0:
            print (i)
        else:   
            pass

In [83]:
lst = [1,2,3,4,5]
is_even(lst)

2
4

In [84]:
display = list(filter(is_even,lst) )

TypeError: 'int' object is not iterable

In [85]:
a = lambda x:x*x
a(10)

100

In [88]:
b = lambda x,y: x if x<y else y
b(1,2)

1

In [91]:
c = lambda x: print(x,'EVEN') if x % 2 == 0 else print(x,'ODD')
c(9)

9 ODD

In [112]:
def even(num):
    if num % 2 == 0:
        return num
    else:
        return False
lst = range(1,10)    
dp = list(filter(even,lst))
dp

[2, 4, 6, 8]

In [100]:
x = lambda x : x+ x
x(10)

20

In [119]:
def square(num):
    return (num*num)
lst = range(1,10)
ab = list(filter(square,lst))

In [120]:
ab

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [121]:
square(2)

4

In [122]:
num = 2
num*num

4

In [125]:
def fun(num):
    if num % 2 == 0:
        return True
    else:
        return False
rng = range(1,10)
op = list(filter(fun,rng))
op

[2, 4, 6, 8]

In [131]:
def sum(num):
    return num+10
rng = list(range(1,4))
pri = list(filter(sum,rng))
pri

[1, 2, 3]

In [129]:
rng

[1, 2, 3]

In [138]:
rng= range(1,10)
s = list(filter(lambda x:(x % 2 == 0),rng))
s

[2, 4, 6, 8]

In [136]:
rng

[1, 2, 3]

In [145]:
a = lambda x: print('EVEN') if x % 2 == 0 else print('ODD')
#c = lambda x: print(x,'EVEN') if x % 2 == 0 else print(x,'ODD')
a(10)

EVEN

In [172]:
list1 = [10,20,30,40,45,55,65]
ab = list(filter(lambda x : (x%2==0),list1 ))
ab

[10, 20, 30, 40]

In [164]:
list1 = list(range(1,10))
op = list(filter(lambda x :(x%2==0),list1))
op

[2, 4, 6, 8]

In [167]:
list2 = list(range(1,10))
num1 = sum(list2,2)
num1

47

In [168]:
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [179]:
op3 = list(map(lambda x : x*x,list2))
op3

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [185]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
op4 = list(map(lambda x,y,z: x+y+z,list1,list2,rng))
op4

[7, 10, 13, 16]

In [186]:
rng

range(1, 10)

In [192]:
from functools import reduce
op4 = reduce(lambda x,y:x+y ,list1)
op4

10

In [195]:
abc = reduce(lambda a,b: a+b,range(1,1000))
abc

499500

In [197]:
reduce(lambda a,b:a+b,range(1,10))

45

In [206]:
reduce(lambda x,y:x+y,list1)

10

In [213]:
list1
list2
op= list(map(lambda x,y:x+y,list1,list2))
op

[6, 8, 10, 12]

In [217]:
a = lambda x : print('EVEN') if x% 2 == 0 else print ('ODD')
a(100)

EVEN

In [220]:
ap= list(filter(lambda x : x%2==0,list1))
ap

[2, 4]

In [223]:
list1
ap1 = list(map(lambda x : x*x,list1))
ap1

[1, 4, 9, 16]

In [227]:
def square(num):
    return num*num
a= square(10)
a

100

In [228]:
yp = lambda x:x*x
yp(10)

100

In [229]:
yp1 = list(map(lambda x,y : x+y,list1,list2))
yp1

[6, 8, 10, 12]

In [230]:
yp2 = list(map(lambda x:x*x,list1))
yp2

[1, 4, 9, 16]

In [239]:
list1 = range(1,10)
even = list(filter(lambda x : x%2==0,list1))
odd = list(filter(lambda y : y%2 != 0,list1))
even
odd

[1, 3, 5, 7, 9]

In [240]:
add = reduce(lambda x,y:x+y,list1)
add

45

In [252]:
def add_sub_multi_div(a,b):
    x = a+b
    y = a-b
    z = a*b
    p = a/b
    return x,y,z,p
opa = add_sub_multi_div(10,20)
type(opa)
opa = list(opa)
opa[0]=40
opa

[40, -10, 200, 0.5]

In [254]:
for i in opa:
    print (i,end=' ')

40 -10 200 0.5

In [259]:
def display(str):
    def msg():
        return 'Hi Hello'
    result =msg()+str
    return result

In [260]:
display('krishna')

'Hi Hellokrishna'

In [262]:
def disp(str):
    def inner():
        return 'Hi dude '
    result = inner()+str
    return result
disp('sanvith')

'Hi dude sanvith'

In [264]:
def op(msg):
    return 'Hey ' + msg
def message():
    return 'How r u'
op(message())

'Hey How r u'

In [265]:
def msg(str):
    def inner():
        return 'Hey Machha '
    result = inner()+str
    return result
msg('Sanvith')

'Hey Machha Sanvith'

In [266]:
def op(msg):
    return 'Hi dude '+ msg
def message():
    return 'HOw  r u'
op(message())

'Hi dude HOw  r u'

In [270]:
def try1(msg):
    def inner():
        return 'hi Darling '+msg
    return inner()

In [271]:
try1('Archana')

'hi Darling Archana'

In [272]:
def msg(msg):
    def inner():
        return 'Hi Darling '+msg
    return inner

In [273]:
a = msg('Archana')

In [274]:
a()

'Hi Darling Archana'

max = lambda

In [276]:
max = lambda x,y : x if x>y else y
max(1,2)

2

In [281]:
list1 = range(1,10)
list2 = range(1,10)
flt = list(filter(lambda x: x%2 != 0,list1))
flt

[1, 3, 5, 7, 9]

In [282]:
flt1 = list(map(lambda x : x*x,list1))
flt1

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [283]:
flt2 = list(map(lambda x,y : x+y,list1,list2))
flt2

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [284]:
reduce(lambda x,y:x+y,list1)

45

In [285]:
sum(list1)

45

In [298]:
import timeit
def func(n):
    i = 0
    while i<n:
        print ('The count is',i)
        i += 1
a = lambda x : func(x)
a(5)

The count is 0
The count is 1
The count is 2
The count is 3
The count is 4

In [304]:
def reverse(str):
    x = ''
    for i in range(len(str)-1,-1,-1):
        x += str[i]
    return x
reverse('1234')
print (timeit.timeit(reverse('1234')))

0.01785577165047414

In [310]:
def func(n):
    print ('The conut is:',n)
a = lambda x,y:(x(i) for i in range(y))
a(func,5)

In [324]:
def decor(fun):
    def inner():
        value = fun()
        return value + 2
    return inner()
def decor1(fun):
    def inner():
        res = fun()
        return res + 4
    return inner()
def num():
    return 10
a = decor1(num)
a

14

In [321]:
@decor
def num1():
    return 20
num1

22

In [342]:
def decorator(func):
    def inner():
        val = func()
        return 'Hi Hello '+val
    return inner()
def call():
    return 'Krishna'
a1 = decorator(call)
a1

'Hi Hello Krishna'

In [344]:
@decorator
def func1():
    return 'suman'
print (func1)

Hi Hello suman

In [348]:
def dec1(fn):
    def inner():
        val = fn()
        return val + 2
    return inner()
def func():
    return 10
a = dec1(func)
a

12

In [350]:
def dec2(func):
    def inner():
        val1 = func()
        return val1+ 10
    return inner()
def num():
    return 10
a = dec2(num)
a

20

In [399]:
@dec2
def num2():
    return 20
num2

30

In [353]:
def printer(msg):
    def printing():
        print (msg)
    printing()
printer('HI')

HI

In [354]:
def printer(msg):
    def inner():
        print (msg)
    return inner
a = printer('SUMAN')
a()

SUMAN

In [355]:
def printing(msg):
    def inner():
        print(msg)
    return inner()  
printing('Sanvith')

Sanvith

In [356]:
pri = printing
pri('Archana')

Archana

In [358]:
def decorator(fun):
    def inner():
        v1 = fun()
        return v1+20
    return inner()
def a():
    return 20
d1 = decorator
d1(a)

40

In [364]:
def m1(x):
    def m2(y):
        return x * y
    return m2
t1 = m1(10)
t2 = m1(20)
t1(t2(t1(t2(3))))

120000

In [367]:
def mm1(x):
    def inner(y):
        return x * y
    return inner
a1 = mm1(10)
a2 = mm1(20)
a1(a2(10))

2000

In [370]:
def inc(x):
    return x + 1
def dec(x):
    return x - 1
def oper(func,x):
    return func(x)
oper(inc,10)
oper(dec,20)

19

In [374]:
def make_pretty(func):
    def inner():
        print ('I got decorated')
        func()
    return inner
def ord():
    print('I am ordinary')
    
make_pretty(ord)

In [375]:
@make_pretty
def ordinary():
    print('Ordinary')
ordinary()

I got decorated
Ordinary

In [392]:
def make_pretty(fun):
    def inner():
        print ("*****************")
        fun()
        print ("*****************")
    return inner()

@make_pretty
def normal():
    print ('Am Normal')

*****************
Am Normal
*****************

In [397]:

ab = normal
ab

In [403]:
def decoration(func):
    def inner():
        print ('#####################')
        func()
        print ('#####################')
    return inner()
@decoration
def n1():
    print ('SUMAN')

#####################
SUMAN
#####################

In [402]:
n1()

TypeError: 'NoneType' object is not callable