In [8]:
import re
text = 'Oct 28 12:20:44  cli[4141]: <341004> <WARN> |AP suman-hardening@1.2.3.5 cli|  Set amp discover allowed: code: fail-prov-no-shipped.'
reo = re.compile(r'(?P<month>\b[a-zA-Z]{3}\b) (?P<day>\b[\d]{1,2}\b) (?P<timestamp>\b[\d:]+\b)')
match = reo.search(text)
match.group()

'Oct 28 12:20:44'

In [13]:
l1 = [1,2,3,4]
l1[0]
l1[len(l1)-1]
l1[-1]
l1[-len(l1)]

1

In [14]:
for i in l1[0:len(l1)]:
    print(i)

1
2
3
4

In [15]:
s1={1,1,2,2,3,3,4}

In [16]:
s1

{1, 2, 3, 4}

In [17]:
s1.remove(1)

In [18]:
s1

{2, 3, 4}

In [20]:
s1.discard(2)

In [21]:
s1

{3, 4}

In [24]:
s1 ='s' 
s2 = 'u'
s1+s2

'su'

In [29]:
import operator
from operator import itemgetter
st = '8.3.0.0_63372'
first = operator.itemgetter(0)
st = st.split('_')
first(st)

'8.3.0.0'

In [30]:
x = [int(x) for x in range(5)]

In [31]:
x

[0, 1, 2, 3, 4]

In [34]:
list(range(5))

[0, 1, 2, 3, 4]

for x in range(5):

In [36]:
for x in range(5):
    print(x)

0
1
2
3
4

In [42]:
import random
l1 = list(range(5))
l1

[0, 1, 2, 3, 4]

In [46]:
random.choice(l1)

2

In [47]:
import re
def found(pat,txt):
    matchy = re.search(pat,txt)
    if matchy:print(matchy.group())
    else:print("Not Found")

In [48]:
found(r'suman','suman is doing python')

suman

In [50]:
found(r'san','suman is doing python')

Not Found

In [58]:
text = 'suman is doing python suman'
pattern = r'suman'
for match in re.finditer(pattern,text):
    s=match.start()
    e=match.end()
    print('Found %s in %s: at %d:%d'%(match.re.pattern,match.string,s,e))

Found suman in suman is doing python suman: at 0:5
Found suman in suman is doing python suman: at 22:27

In [59]:
match.string.capitalize()

'Suman is doing python suman'

In [63]:
text = 'suman.samarthi@gmail.com'
op = re.split('@',text)
op[0]

'suman.samarthi'

In [61]:
op

['suman.samarthi', 'gmail.com']

In [67]:
txt = 'sumansanvithsumansanvithsumansanvithsumansanvithsumansanvithsumansanvith'
pattern=r'suman'
count = 0
for match in re.finditer(pattern,txt):
    count +=1    
print('Found %s for %d times'%(match.re.pattern,count))

Found suman for 6 times

In [65]:
count

6

In [69]:
text = 'suman.samarthi@gmail.com'
op = text.split('@')
op[0]

'suman.samarthi'

In [76]:
text = "RouterSwitchRouterSwitchRouterSwitchRouterSwitchRouterSwitchRouterSwitchRouterSwitch"
pattern = r'Router'
count = 0
for match in re.finditer(pattern,text):
    s=match.start()
    e=match.end()
    count += 1
    print('%s at:%d:%d'%(text[s:e],s,e))
print ('Number of times %s found is:%d'%(match.re.pattern,count))

Router at:0:6
Router at:12:18
Router at:24:30
Router at:36:42
Router at:48:54
Router at:60:66
Router at:72:78
Number of times Router found is:7

In [73]:
x = [x for x in input().split(',')]

1,2,3,4

In [74]:
x

['1', '2', '3', '4']

In [86]:
def find(pattern,text):
    match = re.search(pattern,text)
    if match:print('Found:%s'%(match.group()))
    else:print('Not FOund:%s'%(pattern))

In [87]:
find(r'suman','sanvith')

Not FOund:suman

In [106]:
import re
def multi_find(patterns,phrase):
    for pattern in patterns:
        print('Trying to search:%r'%pattern)
        mth = re.findall(pattern,phrase)
        print(mth)

In [107]:
patterns = ['hello','domain']
multi_find(patterns,'hello in a domain')

Trying to search:'hello'
['hello']
Trying to search:'domain'
['domain']

In [95]:
data = {}
data['suman']=['son']

In [96]:
data

{'suman': ['son']}

In [99]:
data['suman'].append('sanvith')

In [100]:
data

{'suman': ['son', 'sanvith']}

In [101]:
data['archana']=['wife']

In [102]:
data['archana'].append('sreelaxmi')

In [103]:
data

{'archana': ['wife', 'sreelaxmi'], 'suman': ['son', 'sanvith']}

In [104]:
for i in data.keys():
    print(i,len(data[i]))

suman 2
archana 2

In [105]:
data.values()

dict_values([['son', 'sanvith'], ['wife', 'sreelaxmi']])

In [112]:
def finding(patterns,phrase):
    for pattern in patterns:
        match = re.findall(pattern,phrase)
        print('Finding for :%r'%pattern)
        print(match)

In [113]:
phrase = 'sssdddd....sdddssss.....sdsssdddsss...ssssssddddddsssss'
patterns=['sd*','sd+','sd?']
finding(patterns,phrase)

Finding for :'sd*'
['s', 's', 'sdddd', 'sddd', 's', 's', 's', 's', 'sd', 's', 's', 'sddd', 's', 's', 's', 's', 's', 's', 's', 's', 'sdddddd', 's', 's', 's', 's', 's']
Finding for :'sd+'
['sdddd', 'sddd', 'sd', 'sddd', 'sdddddd']
Finding for :'sd?'
['s', 's', 'sd', 'sd', 's', 's', 's', 's', 'sd', 's', 's', 'sd', 's', 's', 's', 's', 's', 's', 's', 's', 'sd', 's', 's', 's', 's', 's']

In [114]:
l1

[0, 1, 2, 3, 4]

In [122]:
l2 = ['suman','sanvith','archana']
lno = l2.index('suman')
l2[lno]= re.sub(r'suman','suman1234','suman')
l2

['suman1234', 'sanvith', 'archana']

In [123]:
l2

['suman1234', 'sanvith', 'archana']

In [130]:
a = 10
print('I have %s hands'%a)

I have 10 hands

In [126]:
type(a)

int

In [225]:
class pet(object):
    number_of_legs = 4
    def eat(self):
        print('Chop...Chop!!!!!')
    def legs(self):
        print("I have %s legs" %pet.number_of_legs)

In [226]:
puppy =pet()

In [227]:
puppy.number_of_legs = 10

In [228]:
puppy.number_of_legs

10

In [229]:
puppy.legs()

I have 4 legs

In [230]:
tommy = pet()

In [231]:
tommy.number_of_legs

4

In [232]:
tommy.legs()

I have 4 legs

In [156]:
class pet(object):
    def __init__(self,name,species):
        self.name = name
        self.species = species
    def getName(self):
        return self.name
    def getSpecies(self):
        return self.species
    def __str__(self):
        return '%s is a %s'%(self.name,self.species)

In [157]:
polly = pet('POLLY','PARROT')

In [158]:
print(polly)

POLLY is a PARROT

In [164]:
class amithab(object):
    superstar = 'yes'
    money = 'One billion'
class abhisekh(amithab):
    superstar = 'no'

In [165]:
aradhya = abhisekh()

In [166]:
aradhya.money

'One billion'

In [249]:
class emp_raise(object):
    hike = 5
    def __init__(self,first_name,last_name,pay):
        self.first_name = first_name
        self.last_name = last_name
        self.pay = pay
    def raise1(self):
        self.pay = self.pay + int((self.pay * emp_raise.hike) / 100)
        return (self.pay)

In [250]:
emp = emp_raise('suman','samarthi',50000)

In [251]:
emp.pay

50000

In [252]:
emp.raise1()

52500

In [253]:
emp.pay

52500

In [283]:
class pet1(object):
    def __init__(self,name,species):
        self.name = name
        self.species = species
    def getName(self):
        return (self.name)
    def getSpecies(self):
        return (self.species)
    def __str__(self):
        return ("%s is %s"%(self.name,self.species))
def cat1(pet1):
    def __init__(self,name,hate_dogs1):
        pet1.__init_(self,name,species)
        self.hate_dogs1 = hate_dogs1
    def cuts(self):
        return ("%s really %s"%(self.name,self.hate_dogs1))

In [284]:
cuttie1 = cat1('Kuttie')

In [282]:
print(cuttie1)

None

In [305]:
class bank(object):
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
    def set_balance(self,balance = 0):
        self.balance = balance
    def withdraw(self,amount):
        if amount > self.balance:
            raise RuntimeError('Entered amount is grreater than balance')
        self.balance -= amount
        return self.balance
    def deposite(self,amount):
        self.balance += amount
        return self.balance

In [306]:
d1 = bank('suman',1000)

In [307]:
d1.deposite(100)

1100

In [308]:
d1.withdraw(50)

1050

In [312]:
d1.set_balance(6000)

In [313]:
d1.balance

6000

In [304]:
d1.withdraw(5000)

1000

In [318]:
class Bank(object):
    def __init__(self,name):
        self.name = name
    def setbalance(self,balance=0):
        self.balance = balance
    def withdraw(self,amount):
        if amount > self.balance:
            raise RuntimeError('Enter amount is greater than balance')
        else:
            self.balance -= amount
            return self.balance
    def deposite(self,amount):    
        self.balance += amount
        return self.balance

In [319]:
ob1 = Bank('suman')

In [320]:
ob1.setbalance(1000)

In [321]:
ob1.deposite(100)

1100

In [322]:
ob1.withdraw(50)

1050

In [323]:
def f():
    print(s)
s = 'I am good'
f()

I am good

In [328]:
def g():
    #global s1
    s1 = 'I am also good'
    print (s1)
s1 = 'I am good'
g()
s1

I am also good

'I am good'

In [329]:
APMAC =['ed:12','ad:23','65:e4']
APMAC[-len(APMAC):]

['ed:12', 'ad:23', '65:e4']

In [330]:
APMAC[0:]

['ed:12', 'ad:23', '65:e4']

In [332]:
import time
temp = time.ctime()

In [338]:
'_'.join('_'.join((temp.split())).split(':'))

'Sun_Jan_28_08_20_33_2018'

In [341]:
def cmds(cmd,*aps):
    print(cmd)
    for i in aps:
        print (i,end='\n')

In [342]:
cmds('suman',[1,2,3,4])

suman
[1, 2, 3, 4]

In [344]:
dct = {}
dct['1']='suman'
dct['2']='archana'

In [347]:
dct['1']='sanvith'

In [348]:
dct

{'1': 'sanvith', '2': 'archana'}

In [353]:
#global and local
a = 10
def f():
    global a
    a = 20
    print(a)
f()
print(a)
a = 30
print (a)

20
20
30

In [362]:
import sys
randomList = ['a',0,2]
for entry in randomList:
    try:
        print ('Entry is ',entry)
        r = 1/int(entry)
        break
    except Exception as e:
        print ('Error Occured:',sys.exc_info()[0],e)
        print ('The value of R:',r) 
    except:
        print ('All exceptions')         
    finally:
        print ('Done')

Entry is  a
Error Occured: <class 'ValueError'> invalid literal for int() with base 10: 'a'
The value of R: 0.5
Done
Entry is  0
Error Occured: <class 'ZeroDivisionError'> division by zero
The value of R: 0.5
Done
Entry is  2
Done

In [ ]:
#enter a +ve number
a = int(input('Enter a +e number'))
try:
    if a < 0:
        raise MemoryError('Enter number is not +ve',a)
        print(a)
    else:
        print ('Entered number is +ve:',a)
except MemoryError as e:
    print(e)

In [ ]:
while True:
    try:
        names = ['Suman','Archana','Sanvith']
        name = input('Enter a Name:')
        if name in names:
            print ('Name found in List:',name)
            break;
        else:
            raise Exception('name not found:',name)
    except Exception as e:
        print (e)
    finally:
        print('Done')