In [1]:
class Bank(object):
    def __init__(self,name,balance = 0):
        self.name = name
        self.balance = balance
    def deposite(self,amount):
        self.balance += amount
        return self.balance
    def withdraw(self,amount):
        if self.balance < amount:
            print('Enterted amount is More than Balance')
        else:
            self.balance -= amount
            return self.balance

In [3]:
name = input('Enter Name:')
b = Bank(name)
while True:
    print ('Enter Choice:e-Exit,d-Deposite,w-withdraw')
    choice = input('Enter choice')
    if choice == 'e' or choice == 'E':
        break
    amt = float(input('Enter amount'))    
    if choice == 'd' or choice == 'D':
        print('Balance After Deposite:',b.deposite(amt))
    elif choice == 'w' or choice == 'W':
        print('Balance after Withdraw:',b.withdraw(amt))

Enter Name:suman
Enter Choice:e-Exit,d-Deposite,w-withdraw
Enter choiced
Enter amount100
Balance After Deposite: 100.0
Enter Choice:e-Exit,d-Deposite,w-withdraw
Enter choicew
Enter amount50
Balance after Withdraw: 50.0
Enter Choice:e-Exit,d-Deposite,w-withdraw
Enter choicew
Enter amount50
Balance after Withdraw: 0.0
Enter Choice:e-Exit,d-Deposite,w-withdraw
Enter choice10
Enter amount

ValueError: could not convert string to float:

In [8]:
isinstance(b,Bank)

True

In [42]:
class Emp(object):
    def __init__(self,name,id,sal):
        self.name = name
        self.id = id
        self.sal = sal
    def display(self):
        print ('name:',self.name)
        print('ID:',self.id)
        print('Sal:',self.sal)
class increment:
    @staticmethod
    def exceptional(e):
        e.sal += 1000
        e.display()

In [43]:
e = Emp('suman',100,10000)

In [44]:
increment.exceptional(e)

name: suman
ID: 100
Sal: 11000

In [45]:
e.sal

11000

In [46]:
f = increment()

In [47]:
f.exceptional(e)

name: suman
ID: 100
Sal: 12000

In [49]:
class Student(object):
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks
    def Display(self):
        print('Name:',self.name)
        print('marks:',self.marks)
class myClass:
    @staticmethod
    def myMethod(e):
        e.marks += 25
        e.Display()
e = Student('suman',100)

In [50]:
e.Display()

Name: suman
marks: 100

In [51]:
myClass.myMethod(e)

Name: suman
marks: 125

In [70]:
class dummy:
    #def __init__(self,x,n):
    #    self.x = x
    #    self.n = n
    @staticmethod
    def multiply(x,n):
        result = x ** n
        print('{} to the power of {} is {}'.format(x,n,result))

In [71]:
dummy.multiply(5,4)

5 to the power of 4 is 625

TypeError: multiply() missing 2 required positional arguments: 'x' and 'n'

In [59]:
class var(object):
    x = 10
    @classmethod
    def abc(cls):
        cls.x += 1
        print(cls.x)

In [60]:
var.x

10

In [62]:
var.abc()

11

In [63]:
a = var()

In [64]:
a.x

11

In [65]:
b = var()

In [66]:
b.x

11

In [67]:
b.abc()

12

In [68]:
b.x

12

In [69]:
a.x

12

In [90]:
#Inner Class
class mainClass():
    def __init__(self):
        self.name = 'charles'
        self.dd = self.inner()
    def display(self):
        print ('Name=',self.name)
        
    class inner:
        def __init__(self):
            self.dd = 14
            self.mm = 6
            self.yy = 1985
        def display(self):
            print('{}/{}/{}'.format(self.dd,self.mm,self.yy))

In [91]:
x = mainClass().inner()

In [92]:
x.display()

14/6/1985

In [93]:
x.yy

1985

In [94]:
p = mainClass()

In [95]:
x = p.dd

In [96]:
x.display()

14/6/1985

In [97]:
p.display()

Name= charles