In [3]:
str = 'jvhxcjwdvhvwevcweicweibciwerbcbcjcjdecjdenc12345%$#@kbcbcjoe1234debbbefhebebi'
len(str)

64

In [4]:
from operator import itemgetter

In [9]:
a = [(5, 3), (1, 3), (1, 2), (2, -1), (4, 9)]
print(sorted(a))

[(1, 2), (1, 3), (2, -1), (4, 9), (5, 3)]

In [10]:
print(sorted(a,key=itemgetter(0)))

[(1, 3), (1, 2), (2, -1), (4, 9), (5, 3)]

In [11]:
print(sorted(a,key=itemgetter(1)))

[(2, -1), (1, 2), (5, 3), (1, 3), (4, 9)]

In [13]:
print(sorted(a,key=itemgetter(0)))

[(1, 3), (1, 2), (2, -1), (4, 9), (5, 3)]

In [14]:
print(sorted(a,key=itemgetter(0),reverse=True))

[(5, 3), (4, 9), (2, -1), (1, 3), (1, 2)]

In [22]:
print(sorted([1,2,3,4],reverse=True))

[4, 3, 2, 1]

In [29]:
list= [1,2,3,4]
list[::-1]
print(sorted(list,reverse=True))

[4, 3, 2, 1]

In [30]:
import operator

In [31]:
middle = operator.itemgetter(1,2)

In [33]:
middle(list)

(2, 3)

In [34]:
marks = [('suman',90),('sanvith',100)]

In [40]:
print (sorted(marks,key=itemgetter(1),reverse=True))

[('sanvith', 100), ('suman', 90)]

In [45]:
sorted(marks,key=itemgetter(0,1))

[('sanvith', 100), ('suman', 90)]

In [55]:
marks.pop()

'archana'

In [68]:
marks1 = marks[1]

In [75]:
marks1= []

In [77]:
marks1 = marks[1]

In [78]:
marks1

('suman', 90)

In [79]:
list = [1,2,3,4,5]

In [80]:
list.insert(0,a)

In [84]:
b = [100]

In [85]:
list.insert(0,b)

In [86]:
list

[[100], [(5, 3), (1, 3), (1, 2), (2, -1), (4, 9)], 1, 2, 3, 4, 5]

In [87]:
lista = [1,2,3,4]

In [88]:
lista.append(5)

In [89]:
lista

[1, 2, 3, 4, 5]

In [91]:
b = [6,7]

In [92]:
lista.extend(b)

In [93]:
lista

[1, 2, 3, 4, 5, 6, 7]

In [97]:
lista.insert(0,b)

In [98]:
lista

[[6, 7], [(5, 3), (1, 3), (1, 2), (2, -1), (4, 9)], 1, 2, 3, 4, 5, 6, 7]

In [99]:
lista.pop(1)

[(5, 3), (1, 3), (1, 2), (2, -1), (4, 9)]

In [100]:
lista

[[6, 7], 1, 2, 3, 4, 5, 6, 7]

In [101]:
lista.pop(0)

[6, 7]

In [102]:
lista

[1, 2, 3, 4, 5, 6, 7]

In [104]:
lista.append(1)

In [106]:
lista.append(b)

In [107]:
lista

[1, 2, 3, 4, 5, 6, 7, 1, [6, 7]]

In [108]:
lista.extend(b)

In [109]:
lista

[1, 2, 3, 4, 5, 6, 7, 1, [6, 7], 6, 7]

In [117]:
lista.append(b)

In [119]:
lista.extend(b)

In [120]:
lista

[1, 2, 3, 4, 5, 6, 7, [6, 7], 6, 7]

In [132]:
str= ' suman'

In [139]:
str = str.strip()

In [141]:
str += 'a'

In [142]:
str

'sumana'

In [145]:
def reverse(input):
    x = ''
    for i in range(len(input)-1,-1,-1):
        x += input[i]
    return x

In [146]:
reverse('suman')

'namus'

In [147]:
def rev(input):
    return input[::-1]

In [148]:
rev('suman')

'namus'

In [149]:
for i in range(4,-1,-1):
    print(i)

4
3
2
1
0

In [152]:
def reverse(input):
    x = ''
    for i in range(len(input)-1,-1,-1):
        x += input[i]
    return x

In [153]:
reverse('suman')

'namus'

In [159]:
str.startswith('s')

True

In [230]:
import re
text = '[Fri Oct 28 05:43:38.294803 2016] [ssl:warn] [pid 4500:tid 304] AH01909: www.example.com:443:0 server certificate does NOT include an ID which matches the server name'
pattern = r'(?P<day>[a-zA-Z]{3}) (?P<month>[a-zA-Z]{3}) (?P<date>[\d]{1,2}) (?P<timestamp>[\d:.]+) (?P<year>[\d]{4})\] \[(?P<errtype>[\w:]+)\] (?P<err>.*)'
reo = re.compile(pattern)
#reo.search(text)
match = reo.search(text)
match.group('err')

'[pid 4500:tid 304] AH01909: www.example.com:443:0 server certificate does NOT include an ID which matches the server name'

In [238]:
text = 'suman sanvith archana'
match = re.search(r'(suman) (sanvith) (archana)',text)
match.group(3)

'archana'

In [240]:
lista.extend(a)

In [245]:
lista

[1, 2, 3, 4, 5, 6, 7, [6, 7], 6, 7, (5, 3), (1, 3), (1, 2)]

In [246]:
lista.pop()

(1, 2)

In [247]:
lista = [1,2,3,4]

In [248]:
lista.insert(0,0)

In [249]:
lista

[0, 1, 2, 3, 4]

In [250]:
lista.insert(1,a)

In [251]:
lista

[0, [(5, 3), (1, 3), (1, 2), (2, -1), (4, 9)], 1, 2, 3, 4]

In [252]:
lista.pop(1)

[(5, 3), (1, 3), (1, 2), (2, -1), (4, 9)]

In [253]:
lista

[0, 1, 2, 3, 4]

In [255]:
print(1,2,3,4,sep=':')

1:2:3:4

In [256]:
print (1,2,3,4)

1 2 3 4

In [257]:
l1 = [1,2,3,4]

In [258]:
l1[0]=2

In [259]:
l1

[2, 2, 3, 4]

In [260]:
str = 'suman'

In [262]:
str.replace('s','a')

'auman'

In [268]:
str = str.split()

In [276]:
str= 'suman'

In [279]:
str = str.split()

In [284]:
str[0]

'suman'

In [288]:
x = [x for x in input().split()]

a b c

In [289]:
x

['a', 'b', 'c']

In [290]:
''.join(x)

'abc'

In [291]:
a = 'suman'
a = list(a)

TypeError: 'list' object is not callable

In [292]:
id(a)

642575942408

In [293]:
a = 1

In [294]:
id(a)

1996089808

In [295]:
a = 2

In [296]:
id(a)

1996089840

In [297]:
b = 'suman'

In [298]:
id(b)

642575942408

In [299]:
b = 'sanvith'

In [300]:
id(b)

642575942240

In [301]:
l1= [1,2,3,4]

In [302]:
id(l1)

642576061640

In [303]:
l1[0]='a'

In [304]:
l1

['a', 2, 3, 4]

In [305]:
id(l1)

642576061640

In [306]:
l2 = (1,2,3)

In [307]:
id(l2)

642588650880

In [308]:
type(l2)

tuple

In [315]:
from collections import namedtuple

In [319]:
from collections import namedtuple
exam = namedtuple('student1',['maths','science'])
suman = exam(100,90)
suman.science

90

In [324]:
from collections import namedtuple
marks = namedtuple('s',['maths','science'])
suman= marks(100,85)
suman.maths

100

In [325]:
a = 10
b = 20
c = a
a = b
b = c
print (a,b)

20 10

In [326]:
b,a = a,b
print (a,b)

10 20

In [334]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
nmatrix = [[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(matrix)):
    for j in range(len(matrix[0])):
        nmatrix[j][i] = matrix[i][j]
print (nmatrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [338]:
a = 'suman sanvith archana'
b = a.split()
b

['suman', 'sanvith', 'archana']

In [339]:
''.join(b)

'sumansanvitharchana'

In [358]:
def fun(msg):
    def inner():
        print ('Hi ' + msg)
    #x =inner()
    return inner()

In [359]:
fun('suman')

Hi suman

In [360]:
def fun(msg):
    def inner():
        return 'Hi guys '+msg
    return inner

In [361]:
xyz = fun('wassup')

In [362]:
xyz()

'Hi guys wassup'

In [363]:
def fun(msg):
    def inner():
        return 'Hi helo '+msg
    x = inner()
    return x

In [364]:
fun('suman')

'Hi helo suman'

In [383]:
def sum(a,b):
    """This function gives sum of two values"""
    c = a+b
    return c

In [384]:
help(sum)

Help on function sum in module __main__:

sum(a, b)
    This function gives sum of two values

In [385]:
a = sum(10,20)

In [386]:
a

30

In [388]:
def check_number(num):
    if num % 2 == 0:
        print ('Number:%d is Even: '%num)
    else:
        print('Number:{nm} is odd'.format(nm=num))

In [389]:
check_number(2)

Number:2 is Even:

In [390]:
check_number(15)

Number:15 is odd

In [ ]:
def calculate(lst):
    sum= 0
    ln = len(lst)
    for i in lst:
        sum+=i
        avg=sum/ln
    return sum,avg
print ('Enter a list of integers')
lst = [int(x) for x in input().split()]

x,y=calculate(lst)