In [1]:
1*2

2

In [2]:
1/2

0.5

In [3]:
1+2

3

In [4]:
1-2

-1

In [5]:
1%2

1

In [6]:
2%4

2

In [7]:
2/4

0.5

In [8]:
2%4

2

In [9]:
4/2

2.0

In [10]:
4%2

0

In [11]:
type(4)

int

In [12]:
type(4.0)

float

In [13]:
2 % 4

2

1 / 2

In [14]:
1 / 2

0.5

In [15]:
1 % 2

1

In [16]:
2 ** 8

256

In [17]:
2 ** 16

65536

In [18]:
1 / 2

0.5

In [19]:
1 / 1

1.0

In [20]:
a = 2
b = 2
a / b

1.0

In [21]:
type(a)

int

In [24]:
c = int(a /b)
c

1

In [25]:
10/ 5

2.0

In [26]:
10 % 5

0

In [27]:
a = 10
b = 5
c = a / b
c

2.0

In [29]:
a = 10.0
type(a)

float

In [30]:
name = 'suman'
type(name)

str

In [31]:
lst = []
type(lst)

list

In [34]:
day = 'mon'
name+' is present on '+day+'day'

'suman is present on monday'

In [35]:
name='suman'
age=32
sal=1.5
type(name)

str

In [36]:
age+sal

33.5

In [37]:
name+age

TypeError: must be str, not int

In [38]:
name+sal

TypeError: must be str, not float

In [39]:
name= input('Enter your name:')

Enter your name:suman

In [40]:
name

'suman'

In [41]:
type(name)

str

In [42]:
age=int(input('Enter your age:'))

Enter your age:32

In [43]:
type(age)

int

In [44]:
age = input('Enter your age:')

Enter your age:32

In [45]:
type(age)

str

In [53]:
name = input('Enter your name:')
age= input('Enter your age:')

Enter your name:suman
Enter your age:32

In [54]:
type(age)

str

In [55]:
name+age

'suman32'

In [56]:
a = 10
type(a)

int

In [57]:
a = float(a)

In [58]:
type(a)

float

In [59]:
a = str(a)

In [60]:
type(a)

str

In [61]:
a= 10.0

In [62]:
type(a)

float

In [63]:
a=int(a)

In [64]:
type(a)

int

In [67]:
a='suman'
a=int(a)

ValueError: invalid literal for int() with base 10: 'suman'

In [76]:
'This is an "example" to show quotes'

'This is an "example" to show quotes'

In [77]:
print('I am a student')

I am a student

In [78]:
print(a)

suman

In [81]:
"we will have class at 6\'0 clock"

"we will have class at 6'0 clock"

In [85]:
"Many mangoe\'s in the market"

"Many mangoe's in the market"

In [86]:
x= "I have a dog named cutie's"

In [87]:
print(x)

I have a dog named cutie's

In [88]:
names = ['suman','archana','sanvith']

In [89]:
for i in names:
    print (i)

suman
archana
sanvith

In [90]:
for i in names:
    print(i,end=':')

suman:archana:sanvith:

In [91]:
ages = [32,30,3]

In [92]:
names + ages

['suman', 'archana', 'sanvith', 32, 30, 3]

In [93]:
newlist = names+ ages

In [102]:
for i in newlist:
    print (type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'list'>

In [95]:
newlist.append(15.5)

In [99]:
list1= [16.6,17.7]

In [100]:
newlist.append(list1)

In [103]:
newlist.pop()

[16.6, 17.7]

In [105]:
newlist.extend(list1)

In [106]:
newlist

['suman', 'archana', 'sanvith', 32, 30, 3, 15.5, 16.6, 17.7]

In [108]:
print(newlist*3)

['suman', 'archana', 'sanvith', 32, 30, 3, 15.5, 16.6, 17.7, 'suman', 'archana', 'sanvith', 32, 30, 3, 15.5, 16.6, 17.7, 'suman', 'archana', 'sanvith', 32, 30, 3, 15.5, 16.6, 17.7]

In [115]:
print(newlist[0])
print(newlist[2:])
print(newlist[::-1])
newlist[1]='baby'
print (newlist)

suman
['sanvith', 32, 30, 3, 15.5, 16.6, 17.7]
[17.7, 16.6, 15.5, 3, 30, 32, 'sanvith', 'baby', 'suman']
['suman', 'baby', 'sanvith', 32, 30, 3, 15.5, 16.6, 17.7]

In [116]:
newlist

['suman', 'baby', 'sanvith', 32, 30, 3, 15.5, 16.6, 17.7]

In [117]:
newlist.remove('baby')

In [118]:
newlist

['suman', 'sanvith', 32, 30, 3, 15.5, 16.6, 17.7]

In [123]:
lst = ['apple','banana','goa']

In [133]:
lst.insert(25,'grape')

In [135]:
lst

['apple', 'grape', 'grape', 'banana', 'goa', 'grape', 'grape']

In [136]:
lst[::-1]

['grape', 'grape', 'goa', 'banana', 'grape', 'grape', 'apple']

In [138]:
lst[::2]

['apple', 'grape', 'goa', 'grape']

In [139]:
lst[:-2]

['apple', 'grape', 'grape', 'banana', 'goa']

In [150]:
list = [1,2,3,4,5,6,7,8,9,10]
list[1::2]

[2, 4, 6, 8, 10]

In [151]:
list[::2]

[1, 3, 5, 7, 9]

In [152]:
dct = {'name':'suman','age':32,'place':'banglore'}

In [153]:
dct['name']

'suman'

In [154]:
dct['sal']=10000

In [155]:
dct

{'age': 32, 'name': 'suman', 'place': 'banglore', 'sal': 10000}

In [159]:
dct.items()

dict_items([('name', 'suman'), ('age', 32), ('place', 'banglore'), ('sal', 10000)])

In [160]:
dct.keys()

dict_keys(['name', 'age', 'place', 'sal'])

In [161]:
dct.values()

dict_values(['suman', 32, 'banglore', 10000])

In [165]:
for i in dct.keys():
    print (i,dct[i],end=' :\n')

name suman :
age 32 :
place banglore :
sal 10000 :

In [170]:
for i in dct.items():
    print (i,end='\n')

('name', 'suman')
('age', 32)
('place', 'banglore')
('sal', 10000)

In [171]:
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [172]:
list[3:6:]

[4, 5, 6]

In [182]:
list[len(list)-3:-2:]

[8]

In [176]:
len(list)

10

In [184]:
list[len(list)-3:-1:]

[8, 9]

In [186]:
name='suman'
id = 35008316
print ('Hi My name is {one} and my ID is {two}'.format(one=name,two=id))

Hi My name is suman and my ID is 35008316

In [187]:
print ('hi My name is {} and my id is {}'.format(name,id))

hi My name is suman and my id is 35008316

In [192]:
a = 'suman'
a= int(a)

ValueError: invalid literal for int() with base 10: 'suman'

In [194]:
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [199]:
list[0:10:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [200]:
list = [1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [201]:
type(list)

list

In [202]:
list.append(6)

In [203]:
list

[1, 2, 3, 4, 5, 6]

In [204]:
list.pop()

6

In [205]:
list

[1, 2, 3, 4, 5]

In [206]:
len(list)

5

In [207]:
list.append('suman')

In [208]:
list.append(15.6)

In [209]:
list.append([4,5,6])

In [210]:
list

[1, 2, 3, 4, 5, 'suman', 15.6, [4, 5, 6]]

In [211]:
list.append(dct)

In [212]:
list

[1,
 2,
 3,
 4,
 5,
 'suman',
 15.6,
 [4, 5, 6],
 {'age': 32, 'name': 'suman', 'place': 'banglore', 'sal': 10000}]

In [214]:
list[len(list)-1]

{'age': 32, 'name': 'suman', 'place': 'banglore', 'sal': 10000}

In [216]:
list.pop()

{'age': 32, 'name': 'suman', 'place': 'banglore', 'sal': 10000}

In [217]:
list

[1, 2, 3, 4, 5, 'suman', 15.6, [4, 5, 6]]

In [218]:
list[:]

[1, 2, 3, 4, 5, 'suman', 15.6, [4, 5, 6]]

In [219]:
list[len(list)-1::]

[[4, 5, 6]]

In [220]:
list

[1, 2, 3, 4, 5, 'suman', 15.6, [4, 5, 6]]

In [222]:
list[:1:]

[1]

In [223]:
list[len(list)-1::]

[[4, 5, 6]]

In [224]:
list.append(122)

In [225]:
list

[1, 2, 3, 4, 5, 'suman', 15.6, [4, 5, 6], 122]

In [226]:
list.append([123,124,125])

In [227]:
list

[1, 2, 3, 4, 5, 'suman', 15.6, [4, 5, 6], 122, [123, 124, 125]]

In [228]:
list.extend([144,145,146])

In [229]:
list

[1, 2, 3, 4, 5, 'suman', 15.6, [4, 5, 6], 122, [123, 124, 125], 144, 145, 146]

In [230]:
list[0]

1

In [231]:
list

[1, 2, 3, 4, 5, 'suman', 15.6, [4, 5, 6], 122, [123, 124, 125], 144, 145, 146]

In [232]:
list[0]

1

In [233]:
list[:1:]

[1]

In [237]:
a= list[len(list)-1]

In [238]:
b =list[len(list)-1::]

In [239]:
a,b

(146, [146])

In [240]:
type(a)

int

In [241]:
type(b    )

list

In [245]:
a = list(a)

TypeError: 'list' object is not callable

In [244]:
a

146

In [246]:
1 > 2

False

In [247]:
1 <= 4

True

In [248]:
1 != 1

False

In [249]:
(2 > 3) and (3 > 4)

False

In [250]:
(1 > 2) or (2 < 4)

True

In [251]:
(1 > 2) | (2 < 4)

True

In [252]:
(2 > 3) & (3 > 4)

False

In [253]:
t =(1,2,3)

In [254]:
t

(1, 2, 3)

In [255]:
type(t)

tuple

In [256]:
t[0]=10

TypeError: 'tuple' object does not support item assignment

In [257]:
{1,1,2,2,3,3,3,3,4}

{1, 2, 3, 4}

In [258]:
list

[1, 2, 3, 4, 5, 'suman', 15.6, [4, 5, 6], 122, [123, 124, 125], 144, 145, 146]

In [263]:
list.append(144)

In [266]:
list.extend([145])

In [272]:
list1.append(16.6)

In [275]:
list1 = set(list1)

In [276]:
list1

{16.6, 17.7}

In [277]:
list

[1,
 2,
 3,
 4,
 5,
 'suman',
 15.6,
 [4, 5, 6],
 122,
 [123, 124, 125],
 144,
 145,
 146,
 144,
 145]

In [285]:
list2 = [1,2,3]

In [286]:
list2 = set(list2)

In [287]:
list2

{1, 2, 3}

In [290]:
list2 = [1,2,3,4]

In [291]:
list2

[1, 2, 3, 4]

In [292]:
type(list2)

list

In [293]:
list2.append('hi')

In [294]:
list2

[1, 2, 3, 4, 'hi']

In [295]:
list2.append(1)

In [296]:
list2

[1, 2, 3, 4, 'hi', 1]

In [297]:
list2 = set(list2)

In [298]:
list2

{1, 2, 3, 4, 'hi'}

In [299]:
list

[1,
 2,
 3,
 4,
 5,
 'suman',
 15.6,
 [4, 5, 6],
 122,
 [123, 124, 125],
 144,
 145,
 146,
 144,
 145]

In [300]:
list = set(list)

TypeError: unhashable type: 'list'

In [302]:
list2 = [1,2,3,4,'hi']

In [303]:
list2.append([5,6,])

In [304]:
list2

[1, 2, 3, 4, 'hi', [5, 6]]

In [305]:
list2 = set(list2)

TypeError: unhashable type: 'list'

In [306]:
lst

['apple', 'grape', 'grape', 'banana', 'goa', 'grape', 'grape']

In [307]:
lst[0]

'apple'

In [308]:
lst[:1]

['apple']

In [309]:
lst[0]

'apple'

In [310]:
lst[:1]

['apple']

In [313]:
lst[len(lst)-1]

'grape'

In [315]:
lst[len(lst)-2::]

['grape', 'grape']

In [321]:
lst[len(lst)-4::2]

['banana', 'grape']

In [325]:
numbers=[1,2,3,4,5,6,7,8,9,10]
odd_numbers=numbers[::2]
print(odd_numbers,end=':')

[1, 3, 5, 7, 9]:

In [326]:
even_numbers=numbers[1::2]

In [327]:
even_numbers

[2, 4, 6, 8, 10]

In [328]:
t=(1,2,3,4)
t

(1, 2, 3, 4)

In [329]:
t[0]=10

TypeError: 'tuple' object does not support item assignment

In [330]:
s={1,2,1,2,1,2,3,}
s

{1, 2, 3}

In [335]:
lst

['apple', 'grape', 'grape', 'banana', 'goa', 'grape', 'grape']

In [336]:
lst = set(lst)

In [337]:
lst

{'apple', 'banana', 'goa', 'grape'}

In [338]:
a=10
a=int(a)

In [339]:
a

10

In [340]:
a=float(a)

In [341]:
a

10.0

In [342]:
1/1

1.0

In [343]:
int(1/1)

1

In [344]:
float(1/1)

1.0

In [346]:
list= ['suman','archana','sanvith','suman']

In [347]:
another_list=set(list)

In [348]:
list

['suman', 'archana', 'sanvith', 'suman']

In [349]:
another_list

{'archana', 'sanvith', 'suman'}

In [350]:
list

['suman', 'archana', 'sanvith', 'suman']

In [351]:
print (list*2)

['suman', 'archana', 'sanvith', 'suman', 'suman', 'archana', 'sanvith', 'suman']

In [352]:
print (another_list*2)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [353]:
dct

{'age': 32, 'name': 'suman', 'place': 'banglore', 'sal': 10000}

In [354]:
dct['age']

32

In [355]:
dct['age']=34

In [356]:
dct['age']

34

In [357]:
dct['name']

'suman'

In [359]:
dct['hike']='10%'

In [361]:
dct.keys()

dict_keys(['name', 'age', 'place', 'sal', 'hike'])

In [362]:
dct.values()

dict_values(['suman', 34, 'banglore', 10000, '10%'])

In [363]:
dct.items()

dict_items([('name', 'suman'), ('age', 34), ('place', 'banglore'), ('sal', 10000), ('hike', '10%')])

In [371]:
for i in dct.keys():
    print ('KEY:',i,'VALUES:',dct[i])

KEY: name VALUES: suman
KEY: age VALUES: 34
KEY: place VALUES: banglore
KEY: sal VALUES: 10000
KEY: hike VALUES: 10%

In [372]:
lst

{'apple', 'banana', 'goa', 'grape'}

In [382]:
list

['suman', 'archana', 'sanvith', 'suman']

In [385]:
list[-len(list):-2:]

['suman', 'archana']

In [386]:
list

['suman', 'archana', 'sanvith', 'suman']

In [390]:
list[-len(list):len(list):]

['suman', 'archana', 'sanvith', 'suman']

In [402]:
thislist = list()

TypeError: 'list' object is not callable

In [407]:
lst

{'apple', 'banana', 'goa', 'grape'}

In [408]:
lst= list(lst)

TypeError: 'list' object is not callable

In [412]:
lst1 = ['apple', 'banana', 'goa', 'grape']

In [413]:
lst1

['apple', 'banana', 'goa', 'grape']

In [414]:
type(lst1)

list

In [415]:
lst1 = set(lst1)

In [416]:
lst1

{'apple', 'banana', 'goa', 'grape'}

In [418]:
s1 = [1,2,3,4,1,2,3,4]

In [419]:
s2 = set(s1)

In [420]:
s3 = list(s2)

TypeError: 'list' object is not callable

In [422]:
if 1 <= 2 :
    print (1)
elif 1 > 2:
    print(2)

1

In [428]:
i = 1
while i <= 5:
    print (i,end='\t')
    i += 1
i += 1    
print ('end')

1	2	3	4	5	end

In [425]:
list

['suman', 'archana', 'sanvith', 'suman']

In [430]:
for i in "suman":
    if i == 'm':
        break
    print(i)
print ('END')

s
u
END

In [437]:
for i in "suman":
    if i == 'a':
        continue
    print (i)
print ('END')

s
u
m
n
END

In [441]:
def f(x):
    return {
        1:'dosa',
        2:'idly'      
    }[x]

In [442]:
f(1)

'dosa'

In [443]:
f(2)

'idly'

In [460]:
def g(a):
    return{
        1:'suman',
        2:'sanvith'
        
    }[a]

In [461]:
g(1)

'suman'

In [462]:
def a(x):
    return{
        1:'trusted',
        2:'untrusted'
    }[x]

In [463]:
a(1)

'trusted'

In [464]:
for i in 'suman':
    if i == 'm':
        break
    print (i)
print ('END')

s
u
END

In [465]:
for i in 'SUMAN':
    if i == 'A':
        continue
    print(i)
print('END')

S
U
M
N
END

In [473]:
l1 = range(1,10)

In [474]:
for i in l1:
    print(i,end=':')

1:2:3:4:5:6:7:8:9:

In [478]:
'This is an example "for everyone '

'This is an example "for everyone '

In [479]:
dct

{'age': 34, 'hike': '10%', 'name': 'suman', 'place': 'banglore', 'sal': 10000}

In [480]:
l1

range(1, 10)

In [481]:
l2 = []

In [482]:
l2.append(dct)

In [483]:
l2

[{'age': 34,
  'hike': '10%',
  'name': 'suman',
  'place': 'banglore',
  'sal': 10000}]

In [484]:
l2.append(1)

In [485]:
l2

[{'age': 34,
  'hike': '10%',
  'name': 'suman',
  'place': 'banglore',
  'sal': 10000},
 1]

In [486]:
l2[0]

{'age': 34, 'hike': '10%', 'name': 'suman', 'place': 'banglore', 'sal': 10000}

In [488]:
l2[1]

1

In [489]:
dct

{'age': 34, 'hike': '10%', 'name': 'suman', 'place': 'banglore', 'sal': 10000}

In [490]:
dct['age']

34

In [499]:
l2[0]['place1']='hyderabad'

In [500]:
l2[0]

{'age': 34,
 'hike': '10%',
 'name': 'suman',
 'place': 'banglore',
 'place1': 'hyderabad',
 'sal': 10000}

In [533]:
a='suman'
a[::-1]

'namus'

In [518]:
a[-3::]

'man'

In [516]:
a[0]

's'

In [525]:
a[-len(a)]

's'

In [527]:
a[len(a)-1]

'n'

In [539]:
a[-3:-1:]

'ma'

In [540]:
a[1:len(a)-1:]

'uma'

In [546]:
l1 = [1,2,3,4,5,6,7,8,9]
l1[0]
l1[-len(l1)]
l1[len(l1)-1]
l1[8]

9

In [549]:
l1[1:len(l1):2]

[2, 4, 6, 8]

In [551]:
s1 = slice(0,3,1)
l1[s1]

[1, 2, 3]

In [557]:
s2 = slice(4)
l1[s2]

[1, 2, 3, 4]

In [558]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]