In [199]:
inp = input()
lst = inp.split(',')
tup = tuple(lst)
print (inp,type(inp))
print (lst,type(lst))
print(tup,type(tup))

suman,sanvith,archana
suman,sanvith,archana <class 'str'>
['suman', 'sanvith', 'archana'] <class 'list'>
('suman', 'sanvith', 'archana') <class 'tuple'>

In [149]:
a = '123456789'
a = a[0:len(a):1]
print (a)
c = a[::-1]
print(c)
b = a[len(a):0:-1]
print (b)
print (a)
#a.split()
a
bb = ','.join(a)
print (bb)

123456789
987654321
98765432
123456789
1,2,3,4,5,6,7,8,9

In [150]:
print (a,type(a))
aa = a.split()
aa[0]  
print(aa,type(aa))
#','.join(aa)

123456789 <class 'str'>
['123456789'] <class 'list'>

In [151]:
#Method Chaining
a = "1:10,20,30,40,50"
a.split(':')[1].split(',')[-1]

'50'

In [152]:
a= "a::b:c,d,e,F,G:H"
a.split(':')[-2].split(',')[1]

'd'

In [153]:
#Bank Transcation
netAmount = 0
while True:
    s = input()
    if not s:
        break
    else:
        val = s.split(",")
        oper = val[0]
        amount = int(val[1])
    if oper == 'D':
        netAmount += amount
    elif oper == 'W':
        netAmount -= amount
    else:
        pass
    print (netAmount)

In [154]:
import re
passwd = []
lst = [x for x in input().split(',')]
for val in lst:
    if len(val)<6 or len(val)>12:
        continue
    elif not re.search(r'[a-z]',val):    
        continue
    elif not re.search(r'[A-Z]',val):    
        continue
    elif not re.search(r'[0-9]',val):    
        continue    
    elif not re.search(r'[$#@]',val):    
        continue
    elif re.search(r'\s',val):    
        continue
    else:
        pass
    passwd.append(val)
    print (','.join(passwd))

In [155]:
pst = [x for x in input().split(',')]

skks

In [156]:
pst

['skks']

In [157]:
#Bank Transcation
netAmount = 0
while True:
    s = input()
    if not s:
        break
    else:
        pass
    values = s.split(' ')
    oper = values[0]
    value = int(values[1])
    if oper == 'W':
        netAmount -= value
    elif oper == 'D':
        netAmount += value
    else:
        pass
    print (netAmount)

In [158]:
import re
p = 'this'
s = 'this is a good book in this era'
match = re.search(p,s)
print (match)

<_sre.SRE_Match object; span=(0, 4), match='this'>

In [159]:
match.start()

0

In [160]:
match.end()

4

In [161]:
m1 = re.findall(p,s)
print (m1)

['this', 'this']

In [162]:
for m in re.finditer(p,s):
    print ('Found at',m.start(),m.end())

Found at 0 4
Found at 23 27

In [163]:
type(m1)

list

In [164]:
p = r'((ma){2})'
s = 'mama'
match = re.search(p,s)
match.group()

'mama'

In [202]:
p = r'a[ab]+?'
s = 'abbababababbbbb'
print (re.findall(p,s))

['ab', 'ab', 'ab', 'ab', 'ab']

In [166]:
p = r'a[ab]*?'
s = 'abbababababbbbb'
print (re.findall(p,s))

['a', 'a', 'a', 'a', 'a']

In [201]:
p = r'he$'
s = 'I AM he is a super man of he'
print (re.findall(p,s))

['he']

In [168]:
p = r'((ma){2})'
s = 'mama'
print (re.findall(p,s))

[('mama', 'ma')]

In [169]:
#Bank Trabnscation

netAmount = 0
while True:
    s = input()
    if not s:
        break
    else:
        pass
    values = s.split()
    oper = values[0]
    amount = int(values[1])
    if oper == 'D':
        netAmount += amount
    elif oper == 'W':
        netAmount -= amount
    else:
        pass
    print (netAmount)

In [170]:
s = 'suman i M'
v = s.split()
v

['suman', 'i', 'M']

In [171]:
#Password Complexity
lst = []
passwords = [x for x in input().split(',')]
for val in passwords:
    if len(val) < 6 or len(val) > 13:
        continue
    elif not re.search(r'[a-z]',val):
        continue
    elif not re.search(r'[A-Z]',val):
        continue
    elif not re.search(r'[0-9]',val):
        continue
    elif not re.search(r'[#@$]',val):
        continue
    elif re.search(r'\s',val):
        continue
    else:
        pass
    lst.append(val)
print (lst)  
print (','.join(lst))

[]

In [203]:
p = r'[a-zA-Z0-9]+'
t = 'suman123A'
print (re.search(p,t))

<_sre.SRE_Match object; span=(0, 9), match='suman123A'>

In [173]:
string ='I am a \n new line'
print (string)
rawstring = r'I am a \n newline'
print (rawstring)

I am a
 new line
I am a \n newline

In [204]:
import re
re.match(r'b','abcdef')

In [205]:
matc = re.match(r'dog','dog cat dog')

In [206]:
matc.group(0)

'dog'

In [188]:
grp = re.search(r'(\w+,) (\w+:) (\S+)','Jong, Deo: 455-678')

In [189]:
grp.group(0)

'Jong, Deo: 455-678'

In [190]:
grp.group(1)

'Jong,'

In [191]:
grp.group(2)

'Deo:'

In [192]:
grp.group(3)

'455-678'

In [198]:
mystr = '192.168.100.243'
matc1 = re.search(r'\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\b',mystr)
matc1

In [207]:
string = ''#[Fri Oct 28 05:43:38.294803 2016] [ssl:warn] [pid 4500:tid 304] AH01909: www.example.com:443:0 server certificate does NOT include an ID which matches the server name'

p=r'^\[(?P<day>[a-zA-z]{3}) (?P<month>[a-zA-z]{3}) (?P<date>[\d]{1,2}) (?P<timestamp>\b[\d:\.]+\b) 
(?P<year>[\d]{4})\] \[(?P<error>[\w:]+)\] \[(?P<who>[\w: ]+)\] (?P<msg>.+)$'

SyntaxError: EOL while scanning string literal (<ipython-input-207-9568ff034bad>, line 3)

In [215]:
import sys
if not len(sys.argv) < 2:
    sys.exit()
else:
    pass

SystemExit:

C:\Users\ssamarthi\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2889: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [218]:
#Bank Transcations
netAmount = 0
while True:
    inp = input()
    if not inp:
        break
    else:
        pass
    value = inp.split(' ')
    oper = value[0]
    amount = int(value[1])
    if oper == 'W':
        netAmount -= amount
    elif oper == 'D':
        netAmount += amount
    else:
        pass
    print (netAmount)

D 100
100
W 90
10

In [227]:
import random
def main():
    print ('Enter a Number between 1 to 100')
    randomNum = random.randint(1,100)
    #randomNum = 40
    found = False
    while not found:
        userGuess = int(input('Enter a Number:'))
        if userGuess == randomNum:
            print ('You Got it')
            break
            #found = True
        elif userGuess > randomNum:
            print ('Guess Number is Greater')
        else:
            print ('Guess Number is Lower')
if __name__ == "__main__":
    main()

Enter a Number between 1 to 100
Enter a Number:40
You Got it

In [238]:
#Enter lines and convert to CAPS
list =[]
while True:
    s = input()
    if s:
        inp = s.upper()
        list.append(inp)
        #list.append(s.upper())
    else:
        break
for lines in list:
    print(lines)

suman
sanvith

SUMAN
SANVITH

In [232]:
# List comprehension
list1 = ['one','two','three']
for i in list1:
    print(i.upper())

ONE
TWO
THREE

In [235]:
lstcom = [i.upper() for i in list1]
lstcom

['ONE', 'TWO', 'THREE']

In [236]:
lst = [x for x in input().split()]

suman sanvith archana

In [237]:
lst

['suman', 'sanvith', 'archana']

In [239]:
def test():
    print ('2')
    
a = test()

2

In [240]:
a

In [241]:
test()

2

In [249]:
class Hotel(object):
    def pay(self):
        print ('PAID')
        return self
TajHotel = Hotel()

In [250]:
a= TajHotel.pay()

PAID

In [251]:
a

In [278]:
class cup(object):
    def __init__(self):
        self.colour = None
        self.content = None
    def fill(self,beverage):
        self.content = beverage
    def empty(self):
        self.content = None

In [279]:
redcup = cup()

In [280]:
redcup.colour = 'red'

In [281]:
redcup.content = 'tea'

In [282]:
redcup.colour

'red'

In [291]:
redcup.content

'coffee'

In [290]:
redcup.fill('coffee')

In [292]:
redcup.empty()

In [293]:
redcup.content

In [294]:
redcup.fill('Juice')

In [295]:
redcup.content

'Juice'

In [296]:
class CUP(object):
    def __init__(self):
        self._color = None
        self.__content = None
    def fill(self,beverage):
        self.__content = beverage
    def empty(self):
        self.__content = None

In [297]:
greencup = CUP()

In [298]:
greencup._color = 'Yellow'

In [299]:
greencup._color

'Yellow'

In [300]:
greencup._CUP__content = 'BRU'

In [301]:
greencup._CUP__content

'BRU'

In [302]:
greencup._color

'Yellow'

In [303]:
class yup():
    variable = 5

In [304]:
yup.variable

5

In [305]:
can = yup()

In [306]:
can.variable

5

In [309]:
builtins()

NameError: name 'builtins' is not defined

In [313]:
def test():
    def test1():
        global a
        a = 10
        print (a,'From local scope')
    test1()    
a = 20
print (a,'From global scope')
test()
print (a,'From global scope')

20 From global scope
10 From local scope
10 From global scope

In [316]:
def a():
    def b():
        global val
        val = 100
        print (val,'From local')
    b()   
val = 50
print (val,'From Global')
a()
print (val,'From Global')

50 From Global
100 From local
100 From Global

In [358]:
class Example():
    name = 'funtion1'
    #@staticmethod
    def static():
        print ('%s static is called'%Example.name)

class offspring1(Example):
    name = 'offspring1'
    
class offspring2(Example):
    name = 'offspring2'
    @classmethod
    def static(cls):
        print ('%s static is called'%cls.name)

In [359]:
Example.static()

funtion1 static is called

In [360]:
fun = Example

In [361]:
fun.static()

funtion1 static is called

In [362]:
offspring1.static()

funtion1 static is called

In [364]:
offspring2.static()

offspring2 static is called

In [369]:
def multiply(n):
    def multiplier(x):
        return x * n
    return multiplier

In [370]:
test1 = multiply(3)

In [371]:
test1(5)

15

In [372]:
def a(x):
    def b(y):
        return x * y
    return b

In [373]:
t1 = a(10)

In [374]:
t1(20)

200

In [376]:
def a(x):
    def b(y):
        return x * y
    return b
val1 = a(10)

In [377]:
val1(20)

200

In [378]:
val1

In [379]:
def incr(x):
    return x+1
def decr(x):
    return x-1
def oper(func,x):
    return func(x)

In [380]:
oper(incr,4)

5

In [381]:
incr(5)

6

In [383]:
#Decorator
def decorator(func):
    def inner():
        print('Got Decorated')
        func()
    return inner
def ordinary():
    print ('Am Ordinary')

In [386]:
pt = decorator(ordinary)

In [388]:
pt()

Got Decorated
Am Ordinary

In [395]:
#@decorator
def normal():
    print('AM Normal')

normal()

In [396]:
normal()

AM Normal

In [436]:
def decor(func):
    def inner():
        print ('Decor printing')
        func()
    return inner

In [437]:
@decor
def straight():
    print ('Normal Printing')

In [438]:
straight()

Decor printing
Normal Printing

In [401]:
pt2 = decor(straight)

In [402]:
pt2()

Decor printing
Decor printing
Normal Printing

In [439]:
def TN(func):
    print ('10')
    #func()
    return func()
def KA(func):
    print ('20')
    func()
    return func

@TN
def biscuit():
    print ("BISCUIT")
    
@KA
def bickkies():
    print ('BICKKIES')

10
BISCUIT
20
BICKKIES

In [424]:
p =[x for x in input().split()]

a b c

In [425]:
p

['a', 'b', 'c']

In [443]:
def TN(func):
    def inner():
        print ('10')
        func()
    return inner
@TN
def biscuit():
    print ('Biscuit')

In [441]:
biscuit()

10
Biscuit

In [446]:
def abc(*args):
    return args
list= [1,2,3,4]
a = abc(list)
a[0]

[1, 2, 3, 4]

In [448]:
a[0]

[1, 2, 3, 4]

In [480]:
class pet(object):
    def __init__(self,name,species):
        self.name = name
        self.species = species
    def __str__(self):
        print ('%s is a %s'%(self.name,self.species))
class cat(pet):
    def __init__(self,name,species,hate_dogs):
        super().__init__(name,species)
        self.hate_dogs = hate_dogs
    def __str__(self):
        print ('%s is an %s'%(self.name,self.species))

In [481]:
poppy = pet('polly','DOG')

In [482]:
print(poppy)

polly is a DOG

TypeError: __str__ returned non-string (type NoneType)

In [483]:
pinky = cat('pette','cat','YES')

In [484]:
print(pinky)

pette is an cat

TypeError: __str__ returned non-string (type NoneType)

In [518]:
class pet(object):
    def __init__(self,name,species):
        self.name = name
        self.species = species
    def getName(self):
        return self.name
    def getSpecies(self):
        return self.species
    def __str__(self):
        return '%s is a %s'%(self.name,self.species)
class CAT(pet):
    def __init__(self,name,species,Hate_cats):
        pet.__init__(self,name,species)
        self.hate_cats = Hate_cats
    def __str__(self):
        return '%s really hates DOGS %s'%(self.name,self.hate_cats)
    
class DOG(pet):
    def __init__(self,name,Hate_cats):
        super().__init__(name,'CATS')
        self.hate_cats = Hate_cats

In [519]:
poppy = pet('baileys','DOG')

In [520]:
poppy.getName()

'baileys'

In [521]:
cuttie = CAT('cuttie','CAT','YES')

In [522]:
print(cuttie)

cuttie really hates DOGS YES

In [523]:
brown = DOG('Brownie','YES')

In [524]:
print(brown)

Brownie is a CATS