In [1]:
#Instance Method using Instance Variable
class Student:
    def __init__(self):
        self.x = 10
    def modify(self):
        self.x += 1

In [2]:
s1 = Student()
s2 = Student()

In [3]:
print('X1:',s1.x)
print('X1:',s2.x)

X1: 10
X1: 10

In [4]:
s1.modify()

In [5]:
print('X1:',s1.x)
print('X1:',s2.x)

X1: 11
X1: 10

In [34]:
#Class Method using Class variable
class Student1:
    x = 10
    @classmethod
    def modify(cls):
        cls.x += 1

In [35]:
t1 = Student1()
t2 = Student1()

In [36]:
t1.x

10

In [37]:
t2.x

10

In [38]:
t1.modify()

In [39]:
t1.x

11

In [40]:
t2.x

11

In [41]:
class Student2:
    n = 10

In [42]:
Student2.n

10

In [43]:
Student2.n = 30

In [44]:
Student2.n

30

In [45]:
a1 = Student2()

In [46]:
a1.n

30

In [47]:
a2 = Student2()

In [48]:
a2.n

30

In [49]:
a1.n = 35

In [50]:
a1.n

35

In [51]:
a2.n

30

In [53]:
class Student3:
    def __init__(self,n='',m=0):
        self.name = n
        self.marks = m
    def display(self):
        print('Hi:%s'%self.name)
        print('Your Marks:%d'%self.marks)
    def grade(self):
        if self.marks >= 600:
            print('First Grade')
        elif self.marks >= 500:
            print('Second Grade')
        elif self.marks >= 350:
            print('Third Grade')
        else:
            print('You are Failed')
i = 0
n = int(input('Enter number of students'))
while i < n:
    name = input('Enter Name:')
    marks = int(input('Enter marks:'))
    s = Student3(name,marks)
    s.display()
    s.grade()
    i += 1
    print ('*********************')

Enter number of students3
Enter Name:suman
Enter marks:600
Hi:suman
Your Marks:600
First Grade
*********************
Enter Name:sanvith
Enter marks:500
Hi:sanvith
Your Marks:500
Second Grade
*********************
Enter Name:archana
Enter marks:400
Hi:archana
Your Marks:400
Third Grade
*********************

In [56]:
class Student:
    def __init__(self,n='',m=0):
        self.name = n
        self.marks = m
    def display(self):
        print('Hi:%s'%self.name)
        print('Your Marks:%d'%self.marks)
    def grade(self):
        if self.marks > 600:
            print('First Grade')
        elif self.marks > 500:
            print('Second Grade')
        else:
            print('You are Failed')
i = 0
n = int(input('Enter no of students'))
while i < n:
    name = input('Enter name:')
    marks = int(input('Enter Marks'))
    s = Student(name,marks)
    s.display()
    s.grade()
    print('*'*10)
    i += 1

Enter no of students2
Enter name:sanvith
Enter Marks6500
Hi:sanvith
Your Marks:6500
First Grade
**********
Enter name:suman
Enter Marks500
Hi:suman
Your Marks:500
You are Failed
**********

In [57]:
#instance Method
class Student1:
    def __init__(self):
        self.x = 10
    def modify(self):
        self.x += 1

In [59]:
a = Student1()
b = Student1()

In [60]:
a.x

10

In [61]:
b.x

10

In [62]:
a.modify()

In [63]:
a.x

11

In [64]:
b.x

10

In [107]:
#Class Method
class Student1:
    x = 10
    @classmethod
    def modify(cls):
        cls.x += 1

In [108]:
c = Student1()
d = Student1()

In [109]:
c.x

10

In [110]:
d.x

10

In [111]:
c.modify()

In [112]:
c.x = 22

In [115]:
d.x

11

In [114]:
c.x

22

In [73]:
#In instance method
class Instance_Method(object):
    def __init__(self):
        self.x = 10
    def modify(self):
        self.x += 1

In [74]:
I1 = Instance_Method()
I2 = Instance_Method()

In [75]:
I1.x

10

In [76]:
I1.x

10

In [78]:
I1.modify()

In [79]:
I1.x

11

In [80]:
I2.x

10

In [82]:
#Class Method
class Class_Method(object):
    x = 10
    @classmethod
    def modify(cls):
        cls.x += 1

In [155]:
class Bird():
    wings = 2
    @classmethod
    def fly(cls,name):
        #cls.wings += 1
        print('{} has {}wings to fly'.format(name,cls.wings))
d = Bird()
e = Bird()

In [156]:
d.fly('suman')

suman has 2wings to fly

In [157]:
Bird.wings

2

In [158]:
e.wings = 4

In [159]:
e.fly('sanvith')

sanvith has 2wings to fly

In [160]:
e.wings

4

In [161]:
e.fly('archana')

archana has 2wings to fly

In [142]:
class a:
    x = 19
r1 = a()
r2 = a()

In [152]:
r1.x

39

In [144]:
r2.x

19

In [154]:
a.x

29

In [150]:
r1.x = 39

In [153]:
r2.x

29

In [170]:
class my_class():
    def __init__(self,id,name,salary):
        self.id = id
        self.name = name
        self.salary = salary
    def display(self):
        print ('ID',self.id)
        print('name',self.name)
        print('Salary',self.salary)
class increment():
    #@staticmethod
    def method(e):
        e.salary += 1000
        e.display()

In [171]:
e = my_class(100,'raj',20000)

In [172]:
increment.method(e)

ID 100
name raj
Salary 21000