In [1]:
Data Types : 
    Numbers
    Strings
    Printing
    Lists
    Dictionaries
    Booleans
    Tuples
    Sets

Comparision Operators
if,elif, else statements
for Loops
while Loops
range() xrange()
list comprehension
functions
lambda expressions
map and filter
methods
classes.

SyntaxError: invalid syntax (<ipython-input-1-d65118930edc>, line 1)

In [2]:
# Arithmentics

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 2

0.5

In [6]:
2 ** 4

16

In [7]:
4 % 2

0

In [8]:
( 2 + 3) * ( 4 + 2)

30

In [9]:
# Variable Assignments

In [14]:
name1 = 'Ravi' # Variable name1, name2, values. 
name2 = 'Raj'

In [15]:
name1 + " and "  + name2 + " are best friends" # Hard codes statements.

'Ravi and Raj are best friends'

In [16]:
x = 1
y = 2
z = x + y

In [17]:
z

3

In [18]:
# Strings and Integers or float numbers

In [22]:
name = 'Raj'
age = 15
salary = 1.5

In [20]:
type(name)

str

In [21]:
type(age)

int

In [23]:
type(salary)

float

In [24]:
age + salary

16.5

In [25]:
age + name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
name = int(input("What is your age "))

What is your age 15

In [31]:
age = 15

In [32]:
type(age)

int

In [34]:
age2 = str(age)

In [35]:
type(age2)

str

In [37]:
examplestr = "I am a good boy of age 14 and ears a salary of 1.5"

In [38]:
type(examplestr)

str

In [39]:
int(examplestr)

ValueError: invalid literal for int() with base 10: 'I am a good boy of age 14 and ears a salary of 1.5'

In [40]:
# an int or float can be converter to string, and the revers is not possible.

In [49]:
"This is an \"example\" of string"  # Preferred.

'This is an "example" of string'

In [46]:
'This is an "example" of string'

'This is an "example" of string'

In [44]:
'I want to come at 6\'olock'

"I want to come at 6'olock"

In [45]:
# Print statement

In [57]:
x = "hello \"example "

In [58]:
x

'hello "example '

In [59]:
print (x)

hello "example

In [61]:
print (x)

hello "example

In [62]:
# list

In [63]:
grocery = ['apple','mango','paste']

In [71]:
for i in grocery:
    print (i,end='\n')

apple
mango
paste
soap

In [69]:
type(grocery)

list

In [70]:
grocery.append('soap')

In [72]:
grocery2 = ["rum","vodka"]

In [73]:
finallist = grocery + grocery2

In [74]:
finallist

['apple', 'mango', 'paste', 'soap', 'rum', 'vodka']

In [76]:
hi = ['hey',2,[2,3]]

In [77]:
hi[0]  # numbers are called index.

'hey'

In [78]:
hi[1]

2

In [80]:
hi[2]

[2, 3]

In [81]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
otherlist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (otherlist * 2)  # Prints list two times
print (list + otherlist) # Prints concatenated lists
list.append(10)
print (list)

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 10]

In [82]:
list = [1,2,3,4]

In [83]:
list

[1, 2, 3, 4]

In [86]:
dict = {'name1': 'Raj','age':'25'} # name-value pair

In [87]:
dict['name1']

'Raj'